<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>dev.shushant.tasklens.sample</string>
    <key>CFBundleName</key>
    <string>TaskLens Lab</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>processing</string>
    </array>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>dev.shushant.tasklens.sample.refresh</string>
        <string>dev.shushant.tasklens.sample.database-cleanup</string>
        <string>dev.shushant.tasklens.sample.telemetry-upload</string>
    </array>
</dict>
</plist>
